<section class="subscription-details js-subscription-details is-invisible">
    <pre><code class="js-subscription-json"></code></pre>
</section>


<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Notification Settings
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">

                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Organisation
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        {{#each git.orgs}}

                            {{#if (subOrNot this ../prefs.subscriptions)}}

                                <li><a href="#{{this.login}}" data-toggle="tab">{{this.login}} <i
                                        class="fa fa-check"></i></a></li>

                            {{else}}
                                <li><a href="#{{this.login}}" data-toggle="tab">{{this.login}}</a></li>
                            {{/if}}


                        {{/each}}

                    </ul>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                {{log prefs}}

                {{#each git.orgs}}

                    {{#if (subOrNot this ../prefs.subscriptions)}}

                        <div class="tab-pane fade" id="{{this.login}}">
                            <h4>{{titleOrOrg this}}</h4>
                            <button type="button" class="btn btn-danger unsubs" data-org="{{this.login}}"
                                    data-hook="{{this.hooks_url}}">Unsubscribe
                            </button>
                        </div>

                    {{else}}

                        <div class="tab-pane fade" id="{{this.login}}">
                            <h4>{{titleOrOrg this}}</h4>
                            <button type="button" class="btn btn-primary subs" data-org="{{this.login}}"
                                    data-hook="{{this.hooks_url}}">Subscribe
                            </button>
                        </div>

                    {{/if}}


                {{/each}}

            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
